/* Overlay styles */
.overlay {

    position: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    backdrop-filter: blur(8px); /* Blurred effect */
    z-index: 1000; /* Ensure it's above other content */
    display: none; /* Hide initially */
}

/* Panel styles */
.panel {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    border: 2px solid #000;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    background-color: #fff;
}


/* Container styles */
.container {
    position: relative;
    z-index: 2000; /* Ensure it's above the overlay */
    padding: 20px; /* Add padding */
}



/* Styles for input and select elements */
.panel input[type="text"],
.panel select,
.panel input[type="number"] {
    margin-bottom: 10px; /* Add bottom margin */
    width: calc(100% - 20px); /* Full width with padding */
    padding: 8px; /* Add padding */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.panel button {
    margin-top: 20px;
}

/* Adjustments for file input */
.panel input[type="file"] {
    display: none; /* Hide the original file input */
}

/* Custom file upload styles */
.file-upload {
    margin-top: 10px;
    position: relative;
    width: calc(100% - 20px);
}

.upload-btn {
    color: #333;
    text-decoration: underline;
    cursor: pointer;
}

.file-display {
    margin-top: 5px;
}

.file-display a {
    color: blue;
    text-decoration: none;
}

.button {
    background-color: #4285F4;
    color: #ffffff;
    border: none;
    padding: 20px 40px; /* Larger padding for bigger buttons */
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; /* Increase font size */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.button:hover {
    background-color: #3367D6; /* Darker shade of blue on hover */
}


