/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}


header {
  height: 170px;
  background-color: #7B2CF8;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.branding {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vroom-text {
  font-family: 'meddon';
  font-size: 32px;
  margin-bottom: 5px;
}

.slogan-text {
  font-family: 'anek bangla';
  font-size: 18px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  background-color: #7B2CF8;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
}

.currency-selector {
  display: flex;
  align-items: center;
}

.currency-btn {
  background-color: white;
  color: #7B2CF8;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 20px;
}

.profile-picture {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid white;
  margin-right: 20px;
  background-image: url('images.png'); /* Replace 'images.png' with your image path */
  background-size: cover;
}

.manage-btn {
  background-color: #ffffff;
  color: #7B2CF8;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  cursor: pointer;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.left-panel {
  border-radius: 10px;
  margin-top: 50px;
  margin-left: 20px;
  width: 40%;
}

#map {
  width: 400px;
  height: 200px; /* Adjust height as needed */
  margin-bottom: 20px;
}

.filter-panel {
  width: 400px;
  height: auto;
  background-color: #f0f0f0;
  padding: 20px;
}

.car-info-panel {
  margin-top: 50px;
  width: 55%;
}

.car-panel {
  background-color: #f0f0f0;
  border-radius: 20px;
  border: 2px solid #7B2CF8;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
}

.car-details {
  width: 60%;
}

.car-specs {
  margin-bottom: 10px;
}

.car-spec {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.car-spec img {
  width: 20px;
  margin-right: 5px;
}

.location {
  margin-bottom: 10px;
}

.review {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.icon-star {
  width: 20px;
  height: 20px;
  background-image: url('star-icon.png');
  background-size: cover;
}

.car-image {
  width: 30%;
}

.car-image img {
  width: 100%;
  border-radius: 10px;
}

.price {
  width: 20%;
  text-align: center;
}

.rent-btn {
  background-color: #7B2CF8;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
